<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:aop="http://www.springframework.org/schema/aop" 
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
                           http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-4.0.xsd">
    
	
   
    <!-- 发送消息-->
     <bean id="jmsFactory" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">  
        <property name="connectionFactory">  
            <bean class="org.apache.activemq.ActiveMQConnectionFactory"> 
                <property name="brokerURL">                  
                     <value>tcp://localhost:61616</value>                
                </property>
            </bean>  
        </property>  
    </bean>  
    
     <!--  Default Destination Queue Definition
    <bean id="chitRequestQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg>
           <value>Test123</value>
        </constructor-arg>
    </bean>-->
    
     <!-- Spring JMS Template -->  
    <bean id="jmsQueueTemplate" class="org.springframework.jms.core.JmsTemplate">  
        <property name="connectionFactory" ref="jmsFactory"/>
        <!--<property name="defaultDestination" ref="chitRequestQueue"/>  -->     
        <property name="explicitQosEnabled" value="true" />  
        <!-- dev can use 1 -->       
        <property name="deliveryMode" value="2" />
    </bean> 
    
     
    
     <!-- Message Sender Definition -->
    <bean id="messageSenderProx" class="com.springdemo.service.MessageSenderProx">
        <constructor-arg index="0" ref="jmsQueueTemplate"/>
    </bean>
    
    
</beans>